.ua{
    margin-left: 220px;
    margin-top: -754px;
}
.ru{
    margin-left: 220px;
    margin-top: -21Px;
    position: absolute;
    background: #4AD295;
    border-radius: 1px;
    height: 40px; 
    width: 50px;  
    color: white;
     
}
.usd{
    margin-left: 350px;
    margin-top: -50px;
}
.eur{
    margin-left: 350px;
    margin-top: -25px;
}
.facebook{
    margin-left: 550px;
    margin-top: -65px;
}
.instagram{
    margin-left: 580px;
    margin-top: -17px;
}
.youtube{
    margin-left: 100px;
    margin-top: 100px;
}
.you{
    margin-left: 610px;
    margin-top: -17px;
}
.nomer{
    margin-left: 100px;
    margin-top: -50px;
}
.nomer2{
    margin-left: 100px;
    margin-top: -25px;
}
.maistra{
    margin-left: 400px;
    margin-top: -75px;
    position: absolute;
    background: #EFF3F6;
    border-radius: 1px;
    height: 40px; 
    width: 341px;  
    color: rgb(0, 0, 0);
}
.tyru{
    margin-left: 830px;
    margin-top: -75px;
    position: absolute;
    background: #EFF3F6;
    border-radius: 1px;
    height: 40px; 
    width: 341px;  
    color: rgb(0, 0, 0);
}
.eur2{
    margin-top: 100px ;
    margin-left:-300px ;
    color: white;
}
.eco{
    margin-top: 100px ;
    width: 380px;
    margin-left:-300px ;
    color: white;
}
.podrobneu{
    position: absolute;
    background: #eff3f621;
    border-radius: 1px;
    height: 40px; 
    width: 157px;  
    color: rgb(0, 0, 0);
    margin-left: -220px;
    margin-top: -400px;
}
.tyrepirator{
    margin-top: 400px;
    margin-left: -300px;
    width: 817px;
    font-size: 50px;
}
.mur{
    margin-left: -300px;
    color: #777777;
}
.predlogaem{
    margin-left: -270px;
    font-size: 25px;
    border-radius: 1px;
    height: 32px;
    width: 237px;
    background: #BDBDBD;
    color: white;
}
.consyltant{
    font-size: 25px;
    margin-top: -47px;
    border: #969696;   
}
.heart{
    margin-left: 640px;
    margin-top: -250px;
    font-size: 50px; 
    border-radius: 50%;
    border: 2px dotted black;
    width: 60px;
    height: 60px;
   }
   .podxod{
       margin-left: 750px;
       margin-top: -46px;
   }
   .ryka{
    margin-left: 640px;
    margin-top: 10px;
    font-size: 50px; 
    border-radius: 50%;
    border: 2px dotted black;
    width: 60px;
    height: 60px;
   }
   .servis{
       font-size: 30px;
       margin-left: 110px ;
       margin-top: -48px ;
       width: 500px;
   }
   .star{
       margin-top: 45px;
       border-radius: 50%;
       border: 2px dotted black;
       width: 60px;
       height: 60px;
   }
   .class{
    font-size: 30px;
    margin-left: 110px ;
    margin-top: -48px ;
    width: 500px;
   }
   .oteli{
       margin-left: -900px;
       font-size: 25px;
       margin-top: 150px;
   }
   .otelu{
       font-size: 20px;
       width: 200px;
       margin-top: -75px;
   }
   .foto{
       margin-left: -1260px;
       margin-top: 50px;
   }
   .foto2{
       margin-left: 150px;
   }
   .foto3{
       margin-top: -404px;
   }
   .foto4{
    margin-left: -1000px;
    margin-top: 100px;
}
.foto5{
    margin-left: 150px;
}
.foto6{
 margin-left: 0;
 top: -265px;
 position: relative;
}
.one{
    font-size: 25px;
    margin-left: -961px;
    margin-top: -250px;
}
.regent{
    font-size: 25px;
    margin-left: -540px;
    margin-top: -45px;
}
.naftalan{
    font-size: 25px;
    margin-top: -50px;
    margin-left: 20px;
    width: 300px;
}
.red{
    margin-left: -1300px;
    width: 1940px;
}
.lavanta{
    font-size: 30px;
    margin-left: -1000px;
    margin-top: -300px;
    color: white;
}
.podpiska{
    font-size: 25px;
    margin-left: -200px;
    width: 500px;
    margin-top: -60px;
    color: white;
}
.email{position: absolute;
    background: #eff3f621;
    border-radius: 1px;
    height: 50px; 
    width: 408px;  
    color: rgb(255, 255, 255);
    margin-left: -980px;
    margin-top: 100px;
    font-size: 40px;
}
.galochka{
    margin-top: 115px;
    margin-left: -500px;
    color: white;

}
.tyrust{
    color: rgb(255, 255, 255);
    margin-top: -50px;
    font-size: 35px;
    margin-left: 100px;
}
.tyragent{
    color: rgb(255, 255, 255);
    margin-top: -60px;
    font-size: 35px;
    margin-left: 307px;
}
.otpravitu{
    color: rgb(255, 0, 0);
    font-size: 40px;
    margin-left: 700px;
    margin-top: -60px;
    position: absolute;
    background: #eff3f6;
    border-radius: 1px;
    height: 50px; 
    width: 300px;
}
.pochemy{
    font-size: 50px;
    margin-top: 150px;
    margin-left: -950px;
}
.personal{
    color: black;
    font-size: 25px;
    margin-left: -950px;
    width: 500px;
}
.yslygi{
    font-size: 25px;
    width: 500px;
    margin-top: -80px;
}
.eklyzivni{
    font-size: 25px;
    width: 300px;
    margin-left: -950px;
}
.let{
   font-size: 25px;
   width: 500px;
   margin-top: -90px; 
}
.xorvatia{
    font-size: 25px;
    width: 500px;
    margin-left: -950px;
    margin-top: 50px;
}
.podxod2{
   color: black;
   font-size: 25px;
   width: 500px;
   margin-top: -110px;
}
.garantia{
    font-size: 25px;
    width: 500px;
    margin-left: -950px;
    margin-top: 50px;
}
.syrpriz{
    font-size: 25px;
    width: 500px;
    margin-top: -100px;
}
.foto7{
    margin-left: -1300px;
    width: 1938px
}
.vu{
    font-size: 70px;
    margin-left: -1000px;
    margin-top: -500px;
    color: white;
}
.vas{
    font-size: 25px;
    margin-left: -1000px;
    color: white;
}
.yznati{
    font-size: 20px;
    margin-left: -800px;
    margin-top: 100px;
    position: absolute;
    border-radius: 2px;
    height: 32px;
    width: 170px;
    background: #ffffff;
    color: #969696;
}
.mu{
    font-size: 25px;
    margin-top: 350px;
    margin-left: -950px;color: red;
}
.otdux{
    font-size: 40px;
    margin-left: -950px;
}
.stranax4{
    font-size: 25px;
    margin-left: 100px;
    width: 200px;
    margin-top: -80px;
}